.logos {
    border: 3px solid;
}

.dominos-welcome {
    font-size: calc(1.5rem + 1.4vw);
    background-color: rgb(223, 103, 82);
    border: 3px solid;
}


@media (min-width: 800px) {
    .logos {
        width: 60%;
        margin-left: 15%;
    }
}

.updated-last {
    background-color: rgb(36, 213, 160);
    width: 85%;
    border: 2px solid white;
}

.source-link {
    background-color: rgb(114, 55, 177);
    width: 60%;
    border: 2px solid white;
}

.custom-box {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.font3 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: large;
}

.font4 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}



.select-size, .select-crust, .select-cheese, .select-cheese-toppings, .select-sauce{
    width: 90%;
    border: 2px solid grey; 
    border-radius: 8px;
    font-size: 1.2rem; 
}

.grey-border{
    border: 2px solid grey; 
}

.form-control{
    height:auto;
    text-align:center;
}

#cheese-pizza-btn, #toppings-pizza-btn{
    background-color: #e27704;
    border: 2px black solid; 
}


#toppings-pizza-btn:hover, #cheese-pizza-btn:hover {
    background-color: #3b3e41 !important;
}

.selected-pizza-option{
    color: rgb(255, 0, 191); 
    background-color: #dae0e7bb !important;
}
