@-webkit-keyframes scaleIn {
    from {
        -webkit-transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale(2, 2, 2);
    }
}

@keyframes scaleIn {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.bg-image {
    background-image: url('images/pizza_background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
}

.bg-body-tertiary {
    background-color: #2050b1 !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.4rem !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(201, 19, 19) !important;
}

.navbar-toggler{
    background-color: #faecec;
}

.font1 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.welcome {
    border: 4px solid;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    background-color: rgb(154, 128, 215);
    width: 80%;

    -webkit-animation: scaleIn;
    -webkit-animation-duration: 1.5s;
    animation: scaleIn;
    animation-duration: 1.5s;
}

.welcome-text {
    font-size: calc(1.775rem + 1.5vw);
}

.explanation {
    margin: auto;
    padding: 8px;
    text-align: center;
    background-color: rgb(219, 206, 195);
    margin-top: 4%;
    width: 70%;
    padding: 2%;
    border-radius: 15px;
    border: 3px solid;
}


.font2 {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.explanation-text {
    font-size: calc(0.7rem + 1.1vw);
}

@media (min-width: 1200px) {
    .title {
        font-size: 0.9rem;
    }
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}


.logos {
    width: 80%;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd0d81;
    --bs-btn-border-color: #fd0d81;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #98064c;
    --bs-btn-hover-border-color: #fd0d81;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd0d81;
    --bs-btn-active-border-color: #fd0d81;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fd0d81;
    --bs-btn-disabled-border-color: #fd0d81;
}
